{% extends "base.html" %}

{% block content %}

<div class="vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1 class="mt-4">Reset Password</h1>

    <div class="w-25">
        {% if messages %}
            {% for message in messages %}
            <div class="mt-4 alert {{ message.tags }} alert-dismissible fade show user-select-none" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
        
        <form method="post" class="d-flex flex-column align-items-center justify-content-center">
            {% csrf_token %}
            {{ form }}
            <button class="mt-4 btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>

    <span class="mt-4">Go back to home page? <a href="{% url 'home' %}">Home</a></span>
</div>

{% endblock %}